.projects {
  background: #1D3441;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 180px 0 0 0;
  border-color: red;
}

.projects h1 {
  color: #FF986B;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
}

@media (max-width: 1024px) {
  .projects h1 {
    font-size: 36px;
  }
}

@media (max-width: 542px) {
  .projects h1 {
    font-size: 30px;
  }
}

@media (max-width: 414px) {
  .projects h1 {
    font-size: 24px;
  }
}

.projects .projectSlideContainer {
  border-color: #92D7FB;
  width: 1296px;
  height: 460px;
  position: relative;
  margin: 50px auto 0 auto;
  max-width: 80%;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer {
    height: 416px;
  }
}

@media (max-width: 1030px) {
  .projects .projectSlideContainer {
    height: 392px;
  }
}

@media (max-width: 834px) {
  .projects .projectSlideContainer {
    height: 350px;
    max-width: 90%;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 49% 49%;
        grid-template-rows: 49% 49%;
    height: 400px;
    width: 500px;
    max-width: 80%;
  }
}

@media (max-width: 320px) {
  .projects .projectSlideContainer {
    max-width: 90%;
    height: 440px;
  }
}

.projects .projectSlideContainer .projectSlide {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  border-color: red;
  height: 90%;
  width: 1132px;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -webkit-transition: 500ms;
  transition: 500ms;
  max-width: 90%;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer .projectSlide {
    height: 90%;
    width: 80%;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .projectSlide {
    height: 90%;
  }
}

.projects .projectSlideContainer .projectSlide .projectSlideItem {
  border-color: lightgreen;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  grid-gap: 2%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 50% 43%;
        grid-template-rows: 50% 43%;
    height: 85%;
    grid-gap: 7%;
  }
}

@media (max-width: 542px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem {
    height: 100%;
    -ms-grid-rows: 43% 50%;
        grid-template-rows: 43% 50%;
  }
}

.projects .projectSlideContainer .projectSlide .projectSlideItem .description {
  text-align: left;
}

.projects .projectSlideContainer .projectSlide .projectSlideItem .description h1 {
  font-size: 36px;
  color: #92D7FB;
  text-align: left;
  width: 98%;
  margin-top: 36px;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description h1 {
    font-size: 32px;
  }
}

@media (max-width: 1030px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description h1 {
    margin-top: 16px;
  }
}

@media (max-width: 834px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description h1 {
    font-size: 24px;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description h1 {
    margin-top: 8px;
    font-size: 20px;
    margin: 0 auto;
  }
}

.projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
  font-size: 20px;
  color: #FFFF;
  width: 98%;
  font-family: "Poppins", sans-serif;
  margin: 32px 24px 0 0;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    font-size: 16px;
  }
}

@media (max-width: 1030px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    margin-top: 16px;
  }
}

@media (max-width: 834px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    font-size: 14px;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    margin-top: 12px;
    margin: 8px auto 0 auto;
  }
}

@media (max-width: 542px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .description p {
    font-size: 11px;
  }
}

.projects .projectSlideContainer .projectSlide .projectSlideItem .imageSection {
  width: 98%;
}

.projects .projectSlideContainer .projectSlide .projectSlideItem .imageSection .projImage {
  height: 100%;
  border-radius: 16px;
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .imageSection .projImage {
    width: 232px;
    max-width: 98%;
  }
}

@media (max-width: 414px) {
  .projects .projectSlideContainer .projectSlide .projectSlideItem .imageSection .projImage {
    width: auto;
  }
}

.projects .projectSlideContainer i {
  color: #92D7FB;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 200ms;
  transition: 200ms;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer i {
    font-size: 28px;
  }
}

@media (max-width: 834px) {
  .projects .projectSlideContainer i {
    font-size: 24px;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer i {
    margin: 0 auto;
    top: 20%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media (max-width: 414px) {
  .projects .projectSlideContainer i {
    font-size: 20px;
  }
}

.projects .projectSlideContainer i:hover {
  color: #5f95b1;
}

.projects .projectSlideContainer .left {
  left: 0px;
}

.projects .projectSlideContainer .right {
  right: 0px;
}

.projects .projectSlideContainer .slideBeads {
  position: absolute;
  bottom: 0px;
  left: 5%;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer .slideBeads {
    left: 10%;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .slideBeads {
    left: 5%;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .slideBeads {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    width: auto;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects .projectSlideContainer .slideBeads span {
  height: 20px;
  width: 20px;
  background-color: white;
  margin-right: 12px;
  border-radius: 100%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 1280px) {
  .projects .projectSlideContainer .slideBeads span {
    height: 18px;
    width: 18px;
  }
}

@media (max-width: 1024px) {
  .projects .projectSlideContainer .slideBeads span {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 680px) {
  .projects .projectSlideContainer .slideBeads span {
    margin: 0 6px;
  }
}

@media (max-width: 414px) {
  .projects .projectSlideContainer .slideBeads span {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 320px) {
  .projects .projectSlideContainer .slideBeads span {
    height: 10px;
    width: 10px;
  }
}

.projects .projectSlideContainer .slideBeads span.active {
  background-color: gray;
}
/*# sourceMappingURL=projects.module.css.map */