.testimonials {
  background: #1D3441;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 180px 0 180px 0;
  border-color: red;
}

.testimonials h1 {
  color: #FF986B;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
}

@media (max-width: 1024px) {
  .testimonials h1 {
    font-size: 36px;
  }
}

@media (max-width: 542px) {
  .testimonials h1 {
    font-size: 30px;
  }
}

@media (max-width: 414px) {
  .testimonials h1 {
    font-size: 24px;
  }
}

.testimonials .testimonialsSlideShowContainer {
  position: relative;
  margin: 72px auto 0 auto;
  width: 1312px;
  height: 412px;
  max-width: 90%;
}

@media (max-width: 1280px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 428px;
  }
}

@media (max-width: 1030px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 460px;
  }
}

@media (max-width: 834px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 440px;
    max-width: 80%;
  }
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 400px;
  }
}

@media (max-width: 414px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 480px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer {
    height: 432px;
    max-width: 90%;
  }
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow {
  height: 87%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[11];
      grid-template-columns: repeat(11, 50%);
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1030px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow {
    width: 85%;
  }
}

@media (max-width: 834px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow {
    -ms-grid-columns: (100%)[11];
        grid-template-columns: repeat(11, 100%);
    width: 75%;
  }
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow {
    width: 85%;
  }
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide {
  height: 100%;
  color: #FFFF;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide h3 {
  color: #92D7FB;
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 16px;
  width: 92%;
  height: 98%;
  margin: 0 auto;
  background: #101E25;
  border-radius: 20px;
  overflow: hidden;
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .imageSection {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: gray;
  margin: 36px auto 0 auto;
  overflow: hidden;
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .imageSection {
    width: 72px;
    height: 72px;
    margin-top: 28px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .imageSection {
    margin-top: 20px;
  }
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .imageSection .image {
  margin: 0 auto;
  height: 100%;
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails {
  width: 90%;
  margin: 16px auto 0 auto;
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails h4 {
  font-size: 24px;
  color: #92D7FB;
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails h4 {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails h4 {
    font-size: 16px;
  }
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails p {
  font-size: 14px;
  font-weight: 500;
  color: #FFFF;
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .attestantDetails p {
    font-size: 11px;
  }
}

.testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .testimony {
  width: 85%;
  color: #FFFF;
  font-size: 14px;
  margin: 16px auto 0 auto;
}

@media (max-width: 542px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .testimony {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer .testimonialsSlideShow .testimonialSlide .testimonialContainer .testimony {
    font-size: 11px;
  }
}

.testimonials .testimonialsSlideShowContainer .slideBeads {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .testimonialsSlideShowContainer .slideBeads span {
  height: 20px;
  width: 20px;
  background-color: white;
  margin: 0 6px;
  border-radius: 100%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 1280px) {
  .testimonials .testimonialsSlideShowContainer .slideBeads span {
    height: 18px;
    width: 18px;
  }
}

@media (max-width: 1024px) {
  .testimonials .testimonialsSlideShowContainer .slideBeads span {
    height: 16px;
    width: 16px;
  }
}

@media (max-width: 414px) {
  .testimonials .testimonialsSlideShowContainer .slideBeads span {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: 320px) {
  .testimonials .testimonialsSlideShowContainer .slideBeads span {
    height: 10px;
    width: 10px;
  }
}

.testimonials .testimonialsSlideShowContainer .slideBeads span.active {
  background-color: gray;
}

.testimonials i {
  color: #92D7FB;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 200ms;
  transition: 200ms;
  top: 45%;
  font-size: 32px;
  cursor: pointer;
}

.testimonials i:hover {
  color: #5f95b1;
}

@media (max-width: 1280px) {
  .testimonials i {
    font-size: 28px;
  }
}

@media (max-width: 834px) {
  .testimonials i {
    font-size: 24px;
  }
}

@media (max-width: 414px) {
  .testimonials i {
    font-size: 20px;
  }
}

.testimonials .left {
  left: 0px;
}

.testimonials .right {
  right: 0px;
}

.testimonials .organizations {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 100px;
  width: 920px;
  max-width: 80%;
  margin: 80px auto 0 auto;
}
/*# sourceMappingURL=testimonials.module.css.map */