@import '../../../../../assets/styles/scss/mixins';
@import '../../../../../assets/styles/scss/variables';

.testimonials {
    ////@include add-testing-border;
    background: $blue;
    background-position: center;
    position: relative;
    overflow: hidden;
    padding: 180px 0 180px 0;
    border-color: red;

    
    h1 {
        //@include add-testing-border;
        color: $orange;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 48px;

        @include medium {
            font-size: 36px;
        }

        @include large-mobile {
            font-size: 30px;
        }

        @include mobile {
            font-size: 24px;
        }
    }

    .testimonialsSlideShowContainer {
        //@include add-testing-border;
        position: relative;
        margin: 72px auto 0 auto;
        width: 1312px;
        height: 412px;
        max-width: 90%;

        @include iMac {
            height: 428px;
        }

        @include iPad-pro-12 {
            height: 460px;
        }

        @include iPad-pro-11 {
            height: 440px;
            max-width: 80%;
        }

        @include large-mobile {
            height: 400px;
        }

        @include mobile {
            height: 480px;     
        }

        @include small-mobile {
            height: 432px;
            max-width: 90%;
        }

        .testimonialsSlideShow {
            //@include add-testing-border;
            height: 87%;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(11, 50%);
            margin: 0 auto;
            overflow: hidden;


            @include iPad-pro-12 {
                width: 85%;
            }

            @include iPad-pro-11 {
                grid-template-columns: repeat(11, 100%);
                width: 75%;
            }

            @include large-mobile {
                width: 85%;
            }

            .testimonialSlide {
                height: 100%;
                color: #FFFF;
                font-family: $secondary-font;
                text-align: center;
                margin: 0 auto;
                transition: 300ms ease-in-out;
             

                h3 {
                    color: $light-blue;
                }

                .testimonialContainer {
                    //@include add-border();
                    @include add-border(solid, 1px,rgba(0, 0, 0, 0), 16px);
                    width: 92%;
                    height: 98%;
                    margin: 0 auto;
                    background: $dark-blue;
                    border-radius: 20px;
                    overflow: hidden;
                

                    .imageSection {
                        height: 80px;
                        width: 80px;
                        border-radius: 100%;
                        background: gray;
                        margin: 36px auto 0 auto;
                        overflow: hidden;

                        @include large-mobile {
                            width: 72px;
                            height: 72px;
                            margin-top: 28px;
                        }

                        @include small-mobile {
                            margin-top: 20px;
                        }
    
                        .image {
                            margin: 0 auto;
                            height: 100%;
                        }
                    }
    
                    .attestantDetails {
                        //@include add-testing-border;
                        width: 90%;
                        margin: 16px auto 0 auto;
    
                        h4 {
                            //@include add-testing-border;
                            font-size: 24px;
                            color: $light-blue;

                            @include large-mobile {
                                font-size: 20px;
                            }

                            @include small-mobile {
                                font-size: 16px;
                            }
                        }
    
                        p {
                            //@include add-testing-border;
                            font-size: 14px;
                            font-weight: 500;
                            color: #FFFF;

                            @include large-mobile {
                                font-size: 12px;
                            }

                            @include small-mobile {
                                font-size: 11px;
                            }
                        }
                    }
    
                    .testimony {
                        //@include add-testing-border;
                        width: 85%;
                        color: #FFFF;
                        font-size: 14px;
                        margin: 16px auto 0 auto;

                        @include large-mobile {
                            font-size: 12px;
                        }

                        @include small-mobile {
                            font-size: 11px;
                        }
                    }
                }
            }
        }


        .slideBeads {
            //@include add-testing-border;
            @include absolutely-centered;
            position: absolute;
            bottom: 0px;
            width: 240px;
            display: flex;
            flex-direction: row;
            //height: 30px;
            width: auto;
            text-align: center;
            justify-content: center;
                     
            
            span {
                height: 20px;
                width: 20px;
                background-color: white;
                margin: 0 6px;
                border-radius: 100%;
                transition: 300ms ease-in-out;
    
                @include iMac {
                    height: 18px;
                    width: 18px;
                }
    
                @include medium {
                    height: 16px;
                    width: 16px;
                }
    
                @include mobile {
                    height: 14px;
                    width: 14px;
                }
    
                @include small-mobile {
                    height: 10px;
                    width: 10px;
                }
    
                &.active {
                    background-color: gray;
                }
            }     
        }
    }


    i {
        color: $light-blue;
        position: absolute;
        @include vertically-centered;
        top: 45%;
        font-size: 32px;
        cursor: pointer;

        &:hover {
            color: #5f95b1;
        }

        @include iMac {
            font-size: 28px;
        }

        @include iPad-pro-11 {
            font-size: 24px;
        }

        @include mobile {
            font-size: 20px;
        }
        
    }

    .left {
       left: 0px;
    }

    .right {
        right: 0px;
     }



     .organizations {
         @include add-testing-border;
         height: 100px;
         width: 920px;
         max-width: 80%;
         margin: 80px auto 0 auto;
     }
}