@import '../../../../../assets/styles/scss/mixins';
@import '../../../../../assets/styles/scss/variables';

.services {
    @include add-testing-border;
    height: 85vh;
    background: $blue;
    background-position: center;
    position: relative;
    overflow: hidden;
    //padding: 2vw 0 0 0;


    h1 {
        @include add-testing-border;
        color: $orange;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        font-size: 48px;


        @include medium {
            font-size: 36px;
        }

        @include mobile {
            font-size: 24px;
       }
    }

    .serviceCards {
        @include add-testing-border;
        height: 300px;
        width: 1332px;
        max-width: 80%;
        margin: 80px auto 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2.7%;

        @include medium {
            height: 340px;
        }

        @include iPad-pro-11 {
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr;
            height: 632px;
            grid-gap: 2%;
        }

        @include mobile {
             width: 90%;
        }

        

        .serviceCard {
            @include add-border(solid, 4px, $orange, 20px);
            text-align: center;
            font-family: $secondary-font;

            @include mobile {
                border-width: 3px;
            }

            

            img {
                @include add-testing-border;
                display: block;
                width: 100px;
                margin: 24px auto 0 auto;

                @include medium {
                    width: 80px;
                }

                @include iPad-pro-11 {
                    margin: 20px auto 0 auto;
                    width: 72px;
                }

                @include large-mobile {
                    margin: 12px auto 0 auto;
                }

                @include mobile {
                  // margin: 8px auto 0 auto;
                    width: 64px;
                }

                
            }

            h3 {
                margin-top: 20px;
                font-size: 24px;
                color: $orange;

                @include medium {
                    font-size: 20px;
                }

                @include iPad-pro-11 {
                    margin: 8px auto 0 auto;
                }

                @include small-mobile {
                    font-size: 16px;
                }

                
                
            }

            p {
                @include add-testing-border;
                font-size: 14px;
                width: 80%;
                color: #FFFF;
                margin:  12px auto 0 auto; 
                
                @include iPad-pro-11 {
                    margin: 4px auto 0 auto;
                }

                @include large-mobile {
                    font-size: 12px;
                }

                @include mobile {
                    width: 90%
                }

                @include small-mobile {
                    font-size: 11px;
                }
            }
        }
    }
}