.services {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 85vh;
  background: #1D3441;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.services h1 {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: #FF986B;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
}

@media (max-width: 1024px) {
  .services h1 {
    font-size: 36px;
  }
}

@media (max-width: 414px) {
  .services h1 {
    font-size: 24px;
  }
}

.services .serviceCards {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 300px;
  width: 1332px;
  max-width: 80%;
  margin: 80px auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.7%;
}

@media (max-width: 1024px) {
  .services .serviceCards {
    height: 340px;
  }
}

@media (max-width: 834px) {
  .services .serviceCards {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 632px;
    grid-gap: 2%;
  }
}

@media (max-width: 414px) {
  .services .serviceCards {
    width: 90%;
  }
}

.services .serviceCards .serviceCard {
  border-style: solid;
  border-width: 4px;
  border-color: #FF986B;
  border-radius: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 414px) {
  .services .serviceCards .serviceCard {
    border-width: 3px;
  }
}

.services .serviceCards .serviceCard img {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: block;
  width: 100px;
  margin: 24px auto 0 auto;
}

@media (max-width: 1024px) {
  .services .serviceCards .serviceCard img {
    width: 80px;
  }
}

@media (max-width: 834px) {
  .services .serviceCards .serviceCard img {
    margin: 20px auto 0 auto;
    width: 72px;
  }
}

@media (max-width: 535px) {
  .services .serviceCards .serviceCard img {
    margin: 12px auto 0 auto;
  }
}

@media (max-width: 414px) {
  .services .serviceCards .serviceCard img {
    width: 64px;
  }
}

.services .serviceCards .serviceCard h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #FF986B;
}

@media (max-width: 1024px) {
  .services .serviceCards .serviceCard h3 {
    font-size: 20px;
  }
}

@media (max-width: 834px) {
  .services .serviceCards .serviceCard h3 {
    margin: 8px auto 0 auto;
  }
}

@media (max-width: 320px) {
  .services .serviceCards .serviceCard h3 {
    font-size: 16px;
  }
}

.services .serviceCards .serviceCard p {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 14px;
  width: 80%;
  color: #FFFF;
  margin: 12px auto 0 auto;
}

@media (max-width: 834px) {
  .services .serviceCards .serviceCard p {
    margin: 4px auto 0 auto;
  }
}

@media (max-width: 535px) {
  .services .serviceCards .serviceCard p {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .services .serviceCards .serviceCard p {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .services .serviceCards .serviceCard p {
    font-size: 11px;
  }
}
/*# sourceMappingURL=services.module.css.map */