
// == BLUE ===
$blue: #0F256E;
$light-blue-1: #3F518B;
$light-blue-2: #6F7CA8;
$light-blue-3: #9FA8C5;
$light-blue-4: #CFD3E2;

$light-black-1: #545454;
$light-black-6: #F5F5F5;


$text-color:#25284F;
$header-color: #e60033;
$orange: #FF7025;
$footer-color: #2F2F2F;

$main-font: 'Montserrat', sans-serif !default;
$secondary-font: 'Economica', sans-serif;
$fancy-font: 'Walter Turncoat', cursive;