
// == BLUE ===
$blue: #1D3441;
$dark-blue: #101E25;
$light-blue: #92D7FB;
// $light-blue-2: #6F7CA8;
// $light-blue-3: #9FA8C5;
// $light-blue-4: #CFD3E2;

// $light-black-1: #545454;
// $light-black-6: #F5F5F5;


$text-color:#FFFF;
$header-color: #FF986B;
$orange: #FF986B;
$highlight-color: #FF986B;
$footer-color: #2F2F2F;

$main-font: 'Montserrat', sans-serif !default;
$secondary-font: 'Poppins', sans-serif;
$fancy-font: 'Walter Turncoat', cursive;